/* All common css */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}

/* --------- My CSS ------------ */
.main{
    background-color: white;
    padding: 7% 0;
}
.container{
    width: 597px;
    height: 533px;
    
    background-color: rgb(255, 255, 255);

    margin: 0px auto;
    position: relative;
}


/* --------- row ------------- */
.row{
    width: 100%;
    height: 45px;
    /* background-color: aquamarine;  */
    background-image: url(../images/row_img.jpg);
    
    position: absolute;  
    margin: 5px 0;
}

/* -------- column ----------- */
.col{
    height: 53px;
    width: 31px;
    /* background-color: cadetblue; */
    background-image: url(../images/col_img.jpg);

    position: absolute;
    margin: 0 13px;
    
}


/* -------- row1 columns ----------- */
.row1{
    z-index: 1;
}


.r1_c1{
    z-index: 2;
}
.r1_c2{
    z-index: 0;
    left: 6%;
}
.r1_c3{
    z-index: 2;
    left: 12%;
}
.r1_c4{
    z-index: 0;
    left: 18%;
}
.r1_c5{
    z-index: 2;
    left: 24%;
}
.r1_c6{
    z-index: 0;
    left: 30%;
}
.r1_c7{
    z-index: 2;
    left: 36%;
}
.r1_c8{
    z-index: 0;
    left: 42%;
}
.r1_c9{
    z-index: 2;
    left: 48%;
}
.r1_c10{
    z-index: 0;
    left: 54%;
}
.r1_c11{
    z-index: 2;
    left: 60%;
}
.r1_c12{
    z-index: 0;
    left: 66%;
}
.r1_c13{
    z-index: 2;
    left: 72%;
}
.r1_c14{
    z-index: 0;
    left: 78%;
}
.r1_c15{
    z-index: 2;
    left: 84%;
}
.r1_c16{
    z-index: 0;
    left: 90%;
}

/* -------- row2 columns----------- */

.row2{
    z-index: 1;
    top: 9%;

}

.r2_c1{
    z-index: 0;
    top: 9%;
    
}
.r2_c2{
    z-index: 2;
    top: 9%;
    left: 6%;    
}
.r2_c3{
    z-index: 0;
    top: 9%;
    left: 12%;
}
.r2_c4{
    z-index: 2;
    top: 9%;
    left: 18%;
}
.r2_c5{
    z-index: 0;
    top: 9%;
    left: 24%;
}
.r2_c6{
    z-index: 2;
    top: 9%;
    left: 30%;
}
.r2_c7{
    z-index: 0;
    top: 9%;
    left: 36%;
}
.r2_c8{
    z-index: 2;
    top: 9%;
    left: 42%;
}
.r2_c9{
    z-index: 0;
    top: 9%;
    left: 48%;
}
.r2_c10{
    z-index: 2;
    top: 9%;
    left: 54%;
}
.r2_c11{
    z-index: 0;
    top: 9%;
    left: 60%;
}
.r2_c12{
    z-index: 2;
    top: 9%;
    left: 66%;
}
.r2_c13{
    z-index: 0;
    top: 9%;
    left: 72%;
}
.r2_c14{
    z-index: 2;
    top: 9%;
    left: 78%;
}
.r2_c15{
    z-index: 0;
    top: 9%;
    left: 84%;
}
.r2_c16{
    z-index: 2;
    top: 9%;
    left: 90%;
}

/* -------- row3 columns ----------- */
.row3{
    z-index: 1;
    top: 18%;
}
.r3_c1{
    z-index: 2;
    top: 18%;
    
}
.r3_c2{
    z-index: 0;
    top: 18%;
    left: 6%;
}
.r3_c3{
    z-index: 2;
    top: 18%;
    left: 12%;
}
.r3_c4{
    z-index: 0;
    top: 18%;
    left: 18%;
}
.r3_c5{
    z-index: 2;
    top: 18%;
    left: 24%;
}
.r3_c6{
    z-index: 0;
    top: 18%;
    left: 30%;
}
.r3_c7{
    z-index: 2;
    top: 18%;
    left: 36%;
}
.r3_c8{
    z-index: 0;
    top: 18%;
    left: 42%;
}
.r3_c9{
    z-index: 2;
    top: 18%;
    left: 48%;
}
.r3_c10{
    z-index: 0;
    top: 18%;
    left: 54%;
}
.r3_c11{
    z-index: 2;
    top: 18%;
    left: 60%;
}
.r3_c12{
    z-index: 0;
    top: 18%;
    left: 66%;
}
.r3_c13{
    z-index: 2;
    top: 18%;
    left: 72%;
}
.r3_c14{
    z-index: 0;
    top: 18%;
    left: 78%;
}
.r3_c15{
    z-index: 2;
    top: 18%;
    left: 84%;
}
.r3_c16{
    z-index: 0;
    top: 18%;
    left: 90%;
}



/* -------- row4 columns ----------- */
.row4{
    z-index: 1;
    top: 27%;
}

.r4_c1{
    z-index: 0;
    top: 27%;
    
}
.r4_c2{
    z-index: 2;
    top: 27%;
    left: 6%;    
}
.r4_c3{
    z-index: 0;
    top: 27%;
    left: 12%;
}
.r4_c4{
    z-index: 2;
    top: 27%;
    left: 18%;
}
.r4_c5{
    z-index: 0;
    top: 27%;
    left: 24%;
}
.r4_c6{
    z-index: 2;
    top: 27%;
    left: 30%;
}
.r4_c7{
    z-index: 0;
    top: 27%;
    left: 36%;
}
.r4_c8{
    z-index: 2;
    top: 27%;
    left: 42%;
}
.r4_c9{
    z-index: 0;
    top: 27%;
    left: 48%;
}
.r4_c10{
    z-index: 2;
    top: 27%;
    left: 54%;
}
.r4_c11{
    z-index: 0;
    top: 27%;
    left: 60%;
}
.r4_c12{
    z-index: 2;
    top: 27%;
    left: 66%;
}
.r4_c13{
    z-index: 0;
    top: 27%;
    left: 72%;
}
.r4_c14{
    z-index: 2;
    top: 27%;
    left: 78%;
}
.r4_c15{
    z-index: 0;
    top: 27%;
    left: 84%;
}
.r4_c16{
    z-index: 2;
    top: 27%;
    left: 90%;
}


/* -------- row5 columns ----------- */
.row5{
    z-index: 1;
    top: 36%;
}

.r5_cols{
    top: 36%;
}

.r5_c1{
    z-index: 2;
}
.r5_c2{
    z-index: 0;
    left: 6%;
}
.r5_c3{
    z-index: 2;
    left: 12%;
}
.r5_c4{
    z-index: 0;
    left: 18%;
}
.r5_c5{
    z-index: 2;
    left: 24%;
}
.r5_c6{
    z-index: 0;
    left: 30%;
}
.r5_c7{
    z-index: 2;
    left: 36%;
}
.r5_c8{
    z-index: 0;
    left: 42%;
}
.r5_c9{
    z-index: 2;
    left: 48%;
}
.r5_c10{
    z-index: 0;
    left: 54%;
}
.r5_c11{
    z-index: 2;
    left: 60%;
}
.r5_c12{
    z-index: 0;
    left: 66%;
}
.r5_c13{
    z-index: 2;
    left: 72%;
}
.r5_c14{
    z-index: 0;
    left: 78%;
}
.r5_c15{
    z-index: 2;
    left: 84%;
}
.r5_c16{
    z-index: 0;
    left: 90%;
}


/* -------- row6 columns ----------- */
.row6{
    z-index: 1;
    top: 45%;
}
.r6_cols{
    top: 45%;
}
.r6_c1{
    z-index: 0;
        
}
.r6_c2{
    z-index: 2;
    
    left: 6%;    
}
.r6_c3{
    z-index: 0;
    
    left: 12%;
}
.r6_c4{
    z-index: 2;
    
    left: 18%;
}
.r6_c5{
    z-index: 0;
    
    left: 24%;
}
.r6_c6{
    z-index: 2;
    
    left: 30%;
}
.r6_c7{
    z-index: 0;
    
    left: 36%;
}
.r6_c8{
    z-index: 2;
    
    left: 42%;
}
.r6_c9{
    z-index: 0;
    
    left: 48%;
}
.r6_c10{
    z-index: 2;
    
    left: 54%;
}
.r6_c11{
    z-index: 0;
    
    left: 60%;
}
.r6_c12{
    z-index: 2;
    
    left: 66%;
}
.r6_c13{
    z-index: 0;
    
    left: 72%;
}
.r6_c14{
    z-index: 2;
    
    left: 78%;
}
.r6_c15{
    z-index: 0;
    
    left: 84%;
}
.r6_c16{
    z-index: 2;
    
    left: 90%;
}



/* -------- row7 columns ----------- */
.row7{
    z-index: 1;
    top: 54%;
}
.r7_cols{
    top: 54%;
}
.r7_c1{
    z-index: 2;
}
.r7_c2{
    z-index: 0;
    left: 6%;
}
.r7_c3{
    z-index: 2;
    left: 12%;
}
.r7_c4{
    z-index: 0;
    left: 18%;
}
.r7_c5{
    z-index: 2;
    left: 24%;
}
.r7_c6{
    z-index: 0;
    left: 30%;
}
.r7_c7{
    z-index: 2;
    left: 36%;
}
.r7_c8{
    z-index: 0;
    left: 42%;
}
.r7_c9{
    z-index: 2;
    left: 48%;
}
.r7_c10{
    z-index: 0;
    left: 54%;
}
.r7_c11{
    z-index: 2;
    left: 60%;
}
.r7_c12{
    z-index: 0;
    left: 66%;
}
.r7_c13{
    z-index: 2;
    left: 72%;
}
.r7_c14{
    z-index: 0;
    left: 78%;
}
.r7_c15{
    z-index: 2;
    left: 84%;
}
.r7_c16{
    z-index: 0;
    left: 90%;
}


/* -------- row8 columns ----------- */
.row8{
    z-index: 1;
    top: 63%;
}
.r8_cols{
    top: 63%;
}
.r8_c1{
    z-index: 0;
}
.r8_c2{
    z-index: 2;
    left: 6%;    
}
.r8_c3{
    z-index: 0;
    left: 12%;
}
.r8_c4{
    z-index: 2;
    left: 18%;
}
.r8_c5{
    z-index: 0;
    left: 24%;
}
.r8_c6{
    z-index: 2;
    left: 30%;
}
.r8_c7{
    z-index: 0;
    left: 36%;
}
.r8_c8{
    z-index: 2;
    left: 42%;
}
.r8_c9{
    z-index: 0;
    left: 48%;
}
.r8_c10{
    z-index: 2;
    left: 54%;
}
.r8_c11{
    z-index: 0;
    left: 60%;
}
.r8_c12{
    z-index: 2;
    left: 66%;
}
.r8_c13{
    z-index: 0;
    left: 72%;
}
.r8_c14{
    z-index: 2;
    left: 78%;
}
.r8_c15{
    z-index: 0;
    left: 84%;
}
.r8_c16{
    z-index: 2;
    left: 90%;
}


/* -------- row9 columns ----------- */
.row9{
    z-index: 1;
    top: 72%;
}
.r9_cols{
    top: 72%;
}
.r9_c1{
    z-index: 2;
}
.r9_c2{
    z-index: 0;
    left: 6%;
}
.r9_c3{
    z-index: 2;
    left: 12%;
}
.r9_c4{
    z-index: 0;
    left: 18%;
}
.r9_c5{
    z-index: 2;
    left: 24%;
}
.r9_c6{
    z-index: 0;
    left: 30%;
}
.r9_c7{
    z-index: 2;
    left: 36%;
}
.r9_c8{
    z-index: 0;
    left: 42%;
}
.r9_c9{
    z-index: 2;
    left: 48%;
}
.r9_c10{
    z-index: 0;
    left: 54%;
}
.r9_c11{
    z-index: 2;
    left: 60%;
}
.r9_c12{
    z-index: 0;
    left: 66%;
}
.r9_c13{
    z-index: 2;
    left: 72%;
}
.r9_c14{
    z-index: 0;
    left: 78%;
}
.r9_c15{
    z-index: 2;
    left: 84%;
}
.r9_c16{
    z-index: 0;
    left: 90%;
}


/* -------- row10 columns ----------- */
.row10{
    z-index: 1;
    top: 81%;
}
.r10_cols{
    top: 81%;
}
.r10_c1{
    z-index: 0;
}
.r10_c2{
    z-index: 2;
    left: 6%;    
}
.r10_c3{
    z-index: 0;
    left: 12%;
}
.r10_c4{
    z-index: 2;
    left: 18%;
}
.r10_c5{
    z-index: 0;
    left: 24%;
}
.r10_c6{
    z-index: 2;
    left: 30%;
}
.r10_c7{
    z-index: 0;
    left: 36%;
}
.r10_c8{
    z-index: 2;
    left: 42%;
}
.r10_c9{
    z-index: 0;
    left: 48%;
}
.r10_c10{
    z-index: 2;
    left: 54%;
}
.r10_c11{
    z-index: 0;
    left: 60%;
}
.r10_c12{
    z-index: 2;
    left: 66%;
}
.r10_c13{
    z-index: 0;
    left: 72%;
}
.r10_c14{
    z-index: 2;
    left: 78%;
}
.r10_c15{
    z-index: 0;
    left: 84%;
}
.r10_c16{
    z-index: 2;
    left: 90%;
}



/* -------- row11 columns ----------- */
.row11{
    z-index: 1;
    top: 90%;
}
.r11_cols{
    top: 90%;
}
.r11_c1{
    z-index: 2;
}
.r11_c2{
    z-index: 0;
    left: 6%;
}
.r11_c3{
    z-index: 2;
    left: 12%;
}
.r11_c4{
    z-index: 0;
    left: 18%;
}
.r11_c5{
    z-index: 2;
    left: 24%;
}
.r11_c6{
    z-index: 0;
    left: 30%;
}
.r11_c7{
    z-index: 2;
    left: 36%;
}
.r11_c8{
    z-index: 0;
    left: 42%;
}
.r11_c9{
    z-index: 2;
    left: 48%;
}
.r11_c10{
    z-index: 0;
    left: 54%;
}
.r11_c11{
    z-index: 2;
    left: 60%;
}
.r11_c12{
    z-index: 0;
    left: 66%;
}
.r11_c13{
    z-index: 2;
    left: 72%;
}
.r11_c14{
    z-index: 0;
    left: 78%;
}
.r11_c15{
    z-index: 2;
    left: 84%;
}
.r11_c16{
    z-index: 0;
    left: 90%;
}


